<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form control admin page</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/add-data">Add data</a></li>
        <li><a href="/">Home View</a></li>
      </ul>
    </header>
    <main>
      <h1>Welcome " admin " page</h1>
      <form action="/add-data" method="POST">
        Text box <input type="text" name="textbox" /><br />

        Radio <input type="radio" name="radio" /> <br />
        Checkbox
        <input type="checkbox" name="checkbox" /> <br />
        <textarea name="textarea" id="textarea" rows="4"></textarea><br />
        <select name="select" id="select">
          <option value="option1">Option1</option>
          <option value="option2">option2</option>
          <option selected="option3">Option3</option>
          <option value="option3">Option4</option></select
        ><br /><br />
        <select multiple name="multiple" id="multiple" size="2">
          <option value="option1">Option1</option>
          <option value="option2">option2</option>
          <option selected="option3">Option3</option>
          <option value="option3">Option4</option></select
        ><br /><br />

        <select multiple name="multipleOptGroup">
          <optgroup label="sub1">
            <option>option1</option>
            <option>option2</option>
          </optgroup>
          <optgroup label="sub2">
            <option selected>option3</option>
            <option>option4</option>
          </optgroup>
        </select>

        <br />
        <br />

        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
