<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/style.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="hero">
        <div class="about">
          <h5>About Me</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
            vel eum deserunt! Rerum, reprehenderit. Corrupti dolor dolorum quod,
            sequi exercitationem eaque commodi ab minus ea, consectetur, iste
            aliquid porro eos.
          </p>
          <div class="about about-1">
            <div class="about-1-1">
              <img src="img/purple.jpeg" alt="Purple flower" />
            </div>
            <div class="about about-1-2">322323</div>
          </div>
          <div class="about about-2">
            <div class="about-2-1">
              <img src="img/purple.jpeg" alt="Purple flower" />
            </div>
            <div class="about-2-2">email.com</div>
          </div>
          <div class="about about-3">// To do...</div>
        </div>

        <div class="tweets">
          <h5>Latest Tweet</h5>
          <div class="tweets tweets-1">
            <div class="tweet tweet-1-1">
              <img src="img/purple.jpeg" alt="Alaska Sunrise" />
            </div>
            <div class="tweets tweets-1-2">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus omnis ex exercitationem! Corporis sapiente adipisci
                vero sit similique, facilis veritatis praesentium voluptatem
                placeat sint soluta quia aut? Eius, possimus exercitationem.
              </p>
            </div>
          </div>
          <div class="tweets tweets-2">
            <img src="img/purple.jpeg" alt="Alaska Sunrise" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus omnis ex exercitationem! Corporis sapiente adipisci
              vero sit similique, facilis veritatis praesentium voluptatem
              placeat sint soluta quia aut? Eius, possimus exercitationem.
            </p>
          </div>
          <div class="tweets tweets-3">
            <img src="img/purple.jpeg" alt="Alaska Sunrise" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus omnis ex exercitationem! Corporis sapiente adipisci
              vero sit similique, facilis veritatis praesentium voluptatem
              placeat sint soluta quia aut? Eius, possimus exercitationem.
            </p>
          </div>
        </div>

        <div class="instagram">
          <h5>Instagram</h5>
          <div class="instagram instagram-1">
            <img src="img/rose.jpeg" alt="Rose flower" />
            <img src="img/rose.jpeg" alt="Rose flower" />
          </div>
          <div class="instagram instagram-2">
            <img src="img/rose.jpeg" alt="Rose flower" />
            <img src="img/rose.jpeg" alt="Rose flower" />
          </div>
        </div>
      </div>
      <nav class="nav-footer">
        <div class="links">
          <li>About</li>
          <li>Home</li>
          <li>Our Works</li>
          <li>Services</li>
          <li>Blog</li>
          <li>Contact</li>
        </div>
        <div class="logo">
          <li>Colorib</li>
        </div>
      </nav>
    </div>
  </body>
</html>
