<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h5>Pick Flavors</h5>
    <form action="selectQuantity" method="POST">
      <input
        type="checkbox"
        name="fruits"
        value="vanilla"
        id="vanilla"
      />Vanilla
      <input
        type="checkbox"
        name="fruits"
        vavle="chocolate"
        id="chocolate"
      />Chocolate
      <input
        type="checkbox"
        name="fruits"
        vavle="pistachio"
        id="pistachio"
      />Pistachio
      <input type="checkbox" name="fruits" vavle="mango" id="mango" />Mango
      <input type="submit" value="Submit" />
    </form>
    <img
      src="fruits.png"
      alt="fruits image"
      style="width: 100vh; height: 100vh"
    />
  </body>
</html>
