body{
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;  
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
}

header{
	position: relative;
	margin: 20px auto;
	width: 1000px;
	height: 120px;
	background: #444;
}
nav {
	position: relative;
	margin: auto;
	width: 1000px;
	height: 48px;
	background: #aaa;
}

#top {
	position: relative;
	margin: 20px auto;
	width: 1000px;
	height: 192px;
	background: #888;
}

section {
	position: relative;
	margin: auto;
	width: 1000px;
	height: 453px;
	background: #aaa;
}