* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}
#top {
    background: yellow;
}

#header {
    background-image: url(../img/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100px;
    color: #fff;
}

.green {
    background: #5fa359;
}

.blue {
    color: #381F1E;
    background: #fff ;
}

