<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Index</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h2>Pick your Path</h2>
    <form action="/review" method="post">
        <label><input type="checkbox" name="road"  value="lamsom"/>Lamsom Wood</label>
        <label><input type="checkbox" name="road"  value="kewash"/>Kewash Natural trail</label>
        <input type="submit" value="submit"/>
    </form>
   
</body>
</html>