<!-- Starts header -->
<div id="header">
  <div id="brand">
    <h1><a href="#">Angular the Fun Way!</a></h1>
  </div>
  <div id="searchBox">
    <form method="get">
      <input type="text" class="text">
      <input type="submit" value="Search a topic" class="submit">
    </form>
  </div>
  <div class="clearfix"></div>
</div>
<!-- Ends header -->
<!--=====================================
          SECTION 1
======================================-->

  <!-- Starts Navigation Bar-->
  <div id="menu">
    <ul>
      <li routerLinkActive="active"><a routerLink="/home" class="active">Home</a></li>
      <li><a routerLink="/blog">Blog</a></li>
      <li><a routerLink="/about">About</a></li>

    </ul>
  </div>
  <!-- Ends Navigation Bar-->
