* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 1rem;
  height: 100vh;
  color: #333;
  line-height: 1.5;
  background-color: #eea596;
}
ul {
  list-style: none;
}

.container {
  max-width: 108rem;
  margin: 0 auto;
}

.nav {
  margin: 1rem;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  font-size: 1.5rem;
}

.contact--1 {
  border: 0.1rem solid #333;
  padding: 0.2rem;
}

a:link {
  text-decoration: none;
  display: inline-block;
  gap: 2rem;
  padding: 1rem;
}

a:hover {
  color: #333;
  text-decoration: underline #fff;
}

a:visited {
  color: #333;
}

a:active {
  color: #333;
  background-color: blue;
}

.div--1 img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  margin: 1rem;
  border-radius: 50%;
  position: absolute;
}

.div--1 {
  display: flex;
}

.combined--images {
  display: flex;
  position: relative;
}

.text--1 {
  position: relative;
  margin-top: 9rem;
  margin-left: 45rem;
  font-size: 2rem;
}

.div--3 {
  position: relative;
  margin-top: 36rem;
  margin-left: 18rem;
}

.div--3 img {
  width: 30rem;
  height: 10rem;
  object-fit: cover;
  margin: 1rem;
}
