<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </header>
    <main>
      <h1>Fruits</h1>
      <form action="/add-fruits" method="POST">
        Fruits:
        <input type="text" name="fruit" id="fruit" /><br /><br />
        <button type="submit">[Add Fruit]</button>
      </form>
    </main>
  </body>
</html>
