<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .main-nav ul {
        display: flex;
        list-style: none;
        align-content: space-between;
        gap: 1rem;
      }
      .main-nav ul li a {
        text-decoration: none;
        display: inline-block;
        border: 0.1rem solid #333;
        padding: 0.1rem;
      }
    </style>
    <title><% pageTitle %></title>
  </head>
  <body>
    <header class="main-nav">
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/add-fruits">Add Fruits</a></li>
        <% if (isAuthenticated) {%>
        <li class="logged-in__admin"><a href="/add-user">Add user</a></li>
        <% } %>
      </ul>
    </header>
    <main>
      <h1>Welcome " Home " Page</h1>
      <% if (users.length > 0) { %>
      <div id="div--user">
        <h3>List of users in the system</h3>
        <% for (let user of users) { %>

        <li><%= user.username %> <% } %></li>
      </div>

      <% } else { %>
      <h1>No user found</h1>
      <% } %>
    </main>
  </body>
</html>
