<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add user</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="home-page.html">Home</a></li>
      </ul>
    </header>
    <main>
      <form action="/login" method="POST">
        Username: <input type="text" name="username" id="username" /><br />
        password: <input type="text" name="password" id="password" /><br />
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
