<!-- * * * * * * * * * * * The start * * * * * * * * * * * -->
<div class="container">

    <!-- Starts header -->
      <app-header></app-header>
    <!-- Ends header -->
    <!--=====================================
      SECTION 1
    ======================================-->

    <!-- Starts section part -->

      <div id="introduction">
        <!-- add the selector note-list component in the app component html.-->
        <app-note-list></app-note-list>
        <!-- add the selector router outlet component in the app component html for navigation.-->
        <router-outlet></router-outlet>
      </div>

      <!-- Starts Footer -->

      <!--=====================================
        SECTION 2
      ======================================-->

    <div class="footer">
      <footer>
        <p>&copy; dunkygeoffrey39@gmail.com, all rights reserved.</p>

      </footer>
    </div>
    <!-- Ends Footer -->

    <!-- * * * * * * * * * * * The End * * * * * * * * * * * -->

</div>

