<!-- * * * * * * * * * * * The start * * * * * * * * * * * -->
<div class="container">
  <div class="styled">
    <div id="header">
      <h1>Angular starter page.</h1>
      <!-- add the selector header component in the app component html -->
      <app-header></app-header>

      <div class="conatiner-fluid">
        <!-- add the selector note-list component in the app component html -->
        <app-note-list></app-note-list>
      </div>

      <!-- Footer -->
    </div>
    <div class="footer">
      <footer>
        <p>&copy; dunkygeoffrey39@gmail.com, all rights reserved.</p>

      </footer>
    </div>
  </div>

    <!-- * * * * * * * * * * * The End * * * * * * * * * * * -->

</div>


<router-outlet></router-outlet>
