.container{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.thumbnail{
    float: left;
    padding: 10px;
    border: 1px solid #eee;
    margin: 10px;
    border-radius: 5px;
    /*box-shadow: 5px 5px;*/
}

.myImg{
    max-width: 100%;
}

p {
    text-align: justify;
}

p::first-letter{
    text-transform:capitalize;
}
