.bluebox{
    background: #3A5795;
    color: #fff;
    height: auto;
    width: auto;
    padding: 16px;
    border-style: dashed;
    margin: 20px;
}

.yellowbox{
    background: rgb(222,224,85);
    height: auto;
    width: auto;
    color: #381F1E;
    padding: 10px 5px 7px 3em;
    margin: 60px 30px 20px 30px;
}
.greenbox{
    background: #319f37;
    height: 100px;
    width: 100px;
    color: #fff;
    padding: 10px;
    border-style: groove;
    border-width: 10px;
    border-radius: 80px;
    border-color: #28ccb6;
    margin: 5% 45%;
}
p{
    margin: 0;
    background: #8bbbbf;
}