.bluebox{
    background: #3A5795;
    color: #fff;
    height: 100px;
    width: auto;
    float: left;
}

.yellowbox{
    background: rgb(222,224,85);
    height: 100px;
    width: auto;
    color: #381F1E;
    float: right;
  }
.greenbox{
    background: #319f37;
    height: 100px;
    width: 100px;
    color: #fff;
    padding: 10px;
    border-style: groove;
    border-width: 10px;
    border-radius: 80px;
    border-color: #28ccb6;
    margin: 5% 45%;
    clear: both;
}
p{
    margin: 0;
    background: #8bbbbf;
}