* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;

  /* background-color: #60b347; */
}

.container {
  max-width: 1080p;
  width: 95%;
  margin: 0 auto;
}

.thumbnail {
  padding: 5px;
  margin: 5px;
}

.right {
  float: right;
}
.left {
  float: left;
}
h3 {
  margin: 10px;
}
.myImage {
  width: 300px;
  height: 60px;
}
.in--between-1 {
  margin: 10px;
}
.in--between-2 {
  margin: 10px;
}

.in--between-3 {
  display: flex;
  margin: 10px;
}

.in--between-4 {
  display: flex;
  margin: 10px;
}

.clearfix {
  clear: both;
}
