<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <form action="/selection" method="POST">
      <input type="checkbox" name="checkSelected" value="Lamson woods" id="" /><img
        src="/lamsonwood.png"
        alt="Lamson wood"
      />
      <input type="checkbox" name="checkSelected" value="Kewash Natural trial" />
      <img src="kewash.png" alt="Kewash Natural trail" /><br><br>
      <button type="submit">Submit</button
    </form>
  </body>
</html>
