@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

body {
    font-family: 'Bellefair', serif;
}

#master-header {
    width: 100%;
    background-color: #381F1E;
    height: 55px;
    position: fixed;
    z-index: 1;
   
}

.container {
    max-width: 1080px;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: beige;
    padding: 10px;
}

/*
.clearfix{
    margin-top: 50px;
}
*/

.section {
    border: 1px solid rgba(200, 200, 200, 0.9);
    min-height: 500px;
}

#section1{
    background-image: url(../img/image1.jpg);
    background-size: cover;             
}

#nav {
    float: right;
    margin: 5px 10px 0 0;
    line-height: 20px;
    max-width: 1080px;
}

#nav ul{
    list-style: none;
    margin: 0 auto;
    display: block;
}

#nav li{
    float: left;
    padding: 0 10px;
    margin: 2px;
    background-color: #5fa359;
}

#nav li a{
    text-decoration: none;
    font-size: 1em;
    color: #fff;

}

#nav li a:hover{
    color: red;
}

.wrap {
    background-color: rgb(200,200,200);
    background-color: rgba(200, 200, 200,0.9);
    text-align: justify;
    border-radius: 20px;
    padding: 20px;
    margin: 40px auto;
    color: #381F1E;
}

#footer {
    background-color: #333;
    color: #fff;
}

.col-1 {

}
.col-2 {

}
